#contenuto {
	position: relative;
	text-align: center;
	float: center;
	height: 65%;
	width: 60%;
	margin: auto auto auto 370px;
}

#bottom {
	background-color: lightgrey; 
}

#login {
	width: 70%;
	background-color: yellow;
	text-align: center;
	border: 2px solid black;
	padding-bottom: 20px;
	float: center;
	background-color: yellow;
}

html {
    width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
}