<nav>
    <div>
        <ul>
            <li><a href="/contacts"> Contattaci </a></li>
            <li><a href="/"></a> Lavora con noi </li>
            <li><a href="/"></a> FAQ </li>
            <li><a href="/support"> Supporto </a></li>
        </ul>
    </div>
</nav>

</body>
</html>