<div class="piedone">
<a href="/contacts"> Contattaci </a>
<a href="/support"> Supporto </a>
</div>
<!--
<table class="table table-dark bg-dark" style="position:absolute; bottom: 0">
    <tr>
        <td><a href="/contacts"> Contattaci </a></td>
        <td><a href="/support"> Supporto </a></td>
    </tr>
</table>

<nav>
    <div>
        <ul>
            <li><a href="/contacts"> Contattaci </a></li>
            <li><a href="/"></a> Lavora con noi </li>
            <li><a href="/"></a> FAQ </li>
            <li><a href="/support"> Supporto </a></li>
        </ul>
    </div>
</nav>
-->

</body>
</html>