<div style="background-color: #d3d3d3; height: 20%;">
	<hr>
	<nav>
	    <div>
	        <ul>
	            <li><a href="/contacts"> Contattaci </a></li>
	            <li><a href="/"></a> Lavora con noi </li>
	            <li><a href="/"></a> FAQ </li>
	            <li><a href="/support"> Supporto </a></li>
	        </ul>
	    </div>
	</nav>
</div>
</body>
</html>