<html>
<head>
    <title>Il Piccol</title>
    <link rel="stylesheet" type="text/css" href="../views/style.css">
</head>
<body>
    <div><a href="/"><img src="/Immagini/piccol.jpeg" alt="Logo Piccol"></a></div>

    