<html>
<head>
    <title>Il Piccol</title>
<<<<<<< HEAD
    <!--<link rel="stylesheet" type="text/css" href="../style.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
=======
    <link rel="stylesheet" type="text/css" href="css/style.css">
>>>>>>> bdde393469855277ba690b19f9e492a66f0bfbfd
</head>
<body>
    <div><a href="/"><img src="Immagini/piccol.jpeg" alt="Logo Piccol"></a></div>

    