<body>
    <div>
        <table>
            <tr>
                <td><img src="../Immagini/piccol.jpeg" alt="Logo Piccol"></td>
                <td> <a href="/catalog"> CATALOGO </a></td>
				<td> OFFERTE </td>
				<td> ACCOUNT PERSONALE </td>
				<td><a href="/login"> LOGIN </a></td>
				<td><a href="/register"> REGISTRATI </a></td>
				<td><a href="/cart"> CARRELLO </a></td>
            </tr>
        </table>
    </div>