<% include partials/header%>
<link rel="stylesheet" type="text/css" href="css/Accesso.css">
<div id="contenuto">
    <div>
        <h2> Accedi al tuo account Piccol! </h2>
    </div>

    <img src="https://vignette.wikia.nocookie.net/nonciclopedia/images/9/9a/Piccol.jpg/revision/latest?cb=20090418074550" height="200" width="200" style="float: left;">

    <div id="login">
        <form action="/login" method="POST">
            <p> ID </p>
            <input type="text" name="username">
            <br>
            <p> Password </p>
            <input type="password" name="password">
            <p style="font-size: 10px"> Password dimenticata? </p>
            <br>
            <button type="submit"> Accedi </button>
        </form>
    </div>
</div>
<% include partials/footer%>