<% include partials/header%>

<!-- form per aggiungere prodotti al DB (user story4)-->
<div>
    <form action="/adminCreate" method="POST">
    <input type="text" name="nome" id="" placeholder="nome in string">
    <input type="number" name="prezzo" id="" placeholder="prezzo in numero">
    <button type="submit">Butta sta merda</button>
    </form>
</div>
<!-- form o div da cui gestire i prodotti (user Story2-->

<% include partials/footer%>