<% include partials/header%>
<% include partials/navbar%>

<div id="admin">
    <h1>Aggiungere Prodotti al DB:</h1>
    <div id="adminAddItem" class="form-group">
        <br>
        <form action="/adminInsertProduct" method="POST">
            <input type="text" name="nome" placeholder="Nome" required="required">
            <input type="number" name="prezzo" placeholder="Prezzo in Euro" required="required" min="1" step="any" max="10000,00">
            <input id="formNumberAdmin" type="number" name="quantita" placeholder="Disponibilità (q.ta)" required="required">
            <br>
            <input type="email" name="emailProduttore" placeholder="E-mail Produttore" required="required">
            <input id="formLinkAdmin" type="text" name="immagine" placeholder="Link Immagine (Locale/Remoto)" required="required">
            <br>
            <textarea class="W100pc" name="descrizione" placeholder="Descrizione" required="required"></textarea>
            <br>
            <button type="submit" onclick="return confirm('Creare Prodotto?')">Crea nuovo Prodotto</button>
        </form>
    </div>
    <hr>
    <h1>Gestione di un Prodotto</h1>
    <div id="adminUpdateItem" class="form-group">
        <br>
        <form action="/adminProductManagement" method="POST">
            <input type="text" name="cerca" placeholder="Nome del prodotto" required="required" minlength="1" class="form-control">
            <button type="submit" class="btn btn-primary">Gestisci</button>
        </form>
    </div>
</div>

<% include partials/footer%>