<% include partials/header%>
<% include partials/navbar%>

<div>
    <% prodotti.forEach(function(Prodotto){%>
        <div>
            <div>
                <h4><%= Prodotto.nome %></h4>             
            </div>
            <div><h2><%= Prodotto.prezzo %></h2></div>
            <p><a href="/Item
                /<%= prodotti._id"> More Info! </a></p>
        </div>


    <% }) %>
</div>

<% include partials/footer%>