<% include partials/header.ejs%>
<% include partials/navbar.ejs%>

<div>
    <% var contatore=0; %>
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <% prodotti.forEach(function(Prodotto){%>
                <td>
                    <div>
                        <h2><%= Prodotto.nomeVisualizzato %></h2>             
                    </div>
                    <div>
                        <h3><%= Prodotto.prezzoScontato %>€</h3>
                    </div>
                    <div>
                        <img src="<%= Prodotto.immagine%>" height="200px" width="225px">
                    </div>
                    <a href="/catalog/<%= Prodotto._id %>"> More Info! </a>
                </td> 
                <% contatore=contatore+1; %>
                <% if(contatore%4==0){ %>
                    </tr>
                    <tr>
                <% } %>
              <% }) %>
            </tr>
</div>

<% include partials/footer.ejs%>