<% include partials/header%>
<% include partials/navbar%>

<div>
    <h1> HOT - LE OFFERTE DEL MOMENTO <img src="../public/Immagini/flame.png" alt="Fiamma"> </h1>
    <div class="box"> </div>
</div>


<div>
    <h1> LE ULTIME NOVITA' </h1>
    <div class="box"> </div>
</div>


<div>
    <h1> CONSIGLIATI PER TE </h1>
    <div class="box"> </div>
</div>

<% include partials/footer%>