<% include partials/header%>
<% include partials/navbar%>

<div>
 <p>Il prodotto che stai cercando non è stato trovato.</p>
 <p><a href="/BarraDiRicerca">riprova qui</a></p>
</div>

<% include partials/footer%>