<% include partials/header%>

<div id="contenuto">

    <h2 style="text-align: center;"> Registratrati a Piccol! È gratis ogni secondo giovedì del mese di Febbraio :) </h2> 

    <div id="register">
        <form action="/register" method="POST">
            <!--Nome Utente, PSw e Email devono essere obbligatori -->
            <p> Nome Utente </p>
            <input type="text" name="username">
            <br>
            <p> Password </p>
            <input type="password" name="password">
            <br>
            <p> Ripeti Password </p>
            <input type="password" name="passwordRepeat">
            <br>
            <p> Indirizzo Email </p>
            <input type="email" name="email">
            <br>
            <br>
            <button type="submit"> Submit </button>
        </form>
    </div>

        
</div>

