<% include partials/header%>

<div id="contenuto">

    <h2 style="text-align: center;"> Registratrati a Piccol! È gratis ogni secondo giovedì del mese di Febbraio :) </h2> 

    <div id="register">
        <form>
            <p> ID </p>
            <input type="text" name="id">
            <br>
            <p> Password </p>
            <input type="password" name="password">
            <br>
            <p> Ripeti Password </p>
            <input type="password" name="password">
            <br>
            <p> Indirizzo Email </p>
            <input type="email" name="email">
            <br>
            <br>
            <button type="submit"> Registrati </button>
        </form>
    </div>

        
</div>

<% include partials/footer%>