<% include partials/header%>

<h2>Any request?</h2>
    <form method="POST">
        <p>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Second Name">
        <input type="email" placeholder="Insert your e-mail here">
        </p>
        <input type="text" placeholder="Your Message">
        
        <input type="submit">
    </form>

<% include partials/footer%>
