<% include partials/header%>

<h1> Benvenuto nel tuo account!
</h1>

<div>
    <a href="">Accedi al tuo carrello</a>
</div>
<div>
    <a href="">Accedi alla tua wishlist</a>
</div>
<div>
    <a href="/logout">Logout</a>
</div>

<% include partials/footer%>