.prodotto {
	width: 60%;
	margin: 20px;
	padding: 5px;
	border: 2px solid black;
	background-color: yellow;
	float: left;
}

.saldo {
	width: 30%;
	max-width: 390px;
	float: left;
	margin: auto 20px;
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	position: sticky;
	top: 0;
	right: 0;
}

#contenuto {
	position: relative;
	height: 65%;
}

#bottom {
	background-color: lightgrey; 
}

html {
    width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
}