/* CATALOGO */
#catalogo {
  margin-left: 10%;
  margin-right: 10%;
}

#catalogo table {
  width: 100%;
  border-left: solid grey 1px;
  border-right: solid grey 1px;
}

#catalogo td {
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

/* PAGINA LOGIN */
#accesso {
  padding: 50px;
  position: relative;
  text-align: center;
  float: center;
  height: 80%;
}

#loginForm {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: yellow;
  border: 2px solid black;
  padding-bottom: 20px;
}

#loginForm img {
  margin: 25px;
}

#loginForm div {
  padding: 10px;
}

/* PAGINA ADMIN */

#admin {
  height: 80%;
  margin-left: 15%;
  margin-right: 15%;
}

#adminAddItem input, textarea {
  margin-right: 20px;
  margin-bottom: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden{
  display: none;
}

.piedone{
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #ceda6a;
  text-align: right;
}