/* CATALOGO */
#catalogo {
  margin-left: 10%;
  margin-right: 10%;
}

#catalogo table {
  width: 100%;
  border-left: solid rgba(6, 1, 53, 0.904) 1px;
  border-right: solid rgba(6, 1, 53, 0.904) 1px;
}

#catalogo td {
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

/* PAGINA LOGIN */
#accesso {
  padding: 50px;
  position: relative;
  text-align: center;
  float: center;
  height: 80%;
}

#loginForm {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: yellow;
  border: 2px solid black;
  padding-bottom: 20px;
}

#loginForm img {
  margin: 25px;
}

#loginForm div {
  padding: 10px;
}

/* PAGINA ADMIN */

#admin {
  height: 80%;
  margin-left: 15%;
  margin-right: 15%;
}

#adminAddItem input, textarea {
  margin-right: 20px;
  margin-bottom: 10px;
}

.adminProductbox{
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

#formNumberAdmin{
  width: 180px;
}

#formLinkAdmin{
  width: 260px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background: url(/Immagini/background2.jpg);
  background-size: 100%;
}
a:visited,a:link{
  color: rgba(2, 2, 54, 0.788);
  text-align: center;
}
a:hover.abar{
  color:yellow;
}
a:hover.anotbar{
  color:whitesmoke;
}
.aricerca:visited,.aricerca:link,{
  color: rgba(2, 2, 54, 0.788);
}
.aricerca:hover{
  color:whitesmoke;
}

.borderNav{
  border-color: rgba(3, 1, 27, 0.904);
}

.alignC{
  text-align: center;
}

.w25pc{
  width: 25%;
}

.w100pc{
  width: 100%;
}

.padTOP{
  padding-top: 20px;
}

.hidden{
  display: none;
}

.piedone{
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: yellow;
  text-align: right;

}