<nav>
    <div>
        <div>
            <ul>
                <li><a href="/"></a> Contattaci </li>
                <li><a href="/"></a> Lavora con noi </li>
                <li><a href="/"></a> FAQ </li>
                <li><a href="/"></a> Supporto </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>