<html>
<head>
    <title>Il Piccol</title>
    <link rel="stylesheet" type="" href="">
</head>
<body>
    <div>
        <table>
            <tr>
                <td><img src="../Immagini/piccol.jpeg" alt="Logo Piccol"></td>
                <td> CATALOGO </td>
				<td> OFFERTE </td>
				<td> ACCOUNT PERSONALE </td>
				<td> LOGIN </td>
				<td> REGISTRATI </td>
				<td> CARRELLO </td>
            </tr>
        </table>
    </div>
    